*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.container{
    background-color: #160e42;
    color: white;
    padding: 0px 35px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.menu-list{
    list-style: none;
    display: flex;
    gap: 20px;
    color: white;
}
.menu{
    padding-right: 15px;
    border-right: 2px solid gray;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    transition: 0.3s;
}
.menu:hover{
    color: white;
    border-right: 2px solid white;
    text-decoration: underline;
}
.menu#active{
    color: rgb(78, 78, 78);
}
.middleimg{
    height: 440px;
        width: 440px;
        border-radius: 50%;
}
.middleimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.middle {
    position: relative;
    background-image: url("stock/image 55.jpg");
    background-size: cover;
    background-position:bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 70px;

    /* fade edges */
    -webkit-mask-image: radial-gradient(circle, black 70%, transparent 100%);
    mask-image: radial-gradient(circle, black 70%, transparent 100%);
}

.middle::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #160e42e1;
    z-index: 1;
}

.middle>* {
    position: relative;
    z-index: 2;
}
.mainword{
    font-family: cursive;
    font-weight: bold;
}
.linkword{
    font-size: 15px;
    color: silver;
    text-decoration: none;
}
.linkword:hover{
    text-decoration: underline;
}
.button{
    background-color: gray;
        width: 100px;
        height: 20px;
        justify-content: center;
        padding: 10px;
        border-radius: 35px;
        display: flex;
        align-items: center;
        transition: 0.3s;
}
.button:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}